%div{:class => "content-header clearfix"}
  %div{:class => "row"}
    %div{:class => "span10"}
      %h3 Служебные записки
      %div{:class => "pull-right"}
        %a{:class => "act", :href => "#"} Поиск
  %div{:class => "row"}
    %div{:class => "span10"}
      %ul{:class => "breadcrumb"}
        %li{:class => "active"}
          В работе
          %span.divider /
        %li
          %a{:href => "#"} На подписи
          %span.divider /
        %li
          %a{:href => "#"} Принятые
          %span.divider /
        %li
          %a{:href => "#"} Отклоненные

  %div{:class => "row"}
    %div{:class => "span10"}
      %form.form-inline
        %input{:name => "from", :type => "text", :class => "span2", :placeholder => "16.12.2012"}
        %input{:name => "till", :type => "text", :class => "span2", :placeholder => "23.12.2012"}
        %select{:class => "span2"}
          %option Автор
          %option Пионер Мордоворотов
        %select{:class => "span2"}
          %option Подразделение
          %option IT
        / %a{:href => "#", :class => ""} Расширеный поиск
        %input{:type => "submit", :class => "span2 btn btn-primary pull-right", :value => "Поиск"}

           

%table{:class=>"table"}
  %thead
    %tr
      %th #
      %th Код
      %th Тема
      %th Автор
      %th Создана
      %th Статус
  %tbody
    %tr
      %td 1
      %td M1
      %td Опасения
      %td Пионер Мордоворотов
      %td 16.12.11 16:24
      %td На рассмотрении
    %tr
      %td 1
      %td M1
      %td Опасения
      %td Пионер Мордоворотов
      %td 16.12.11 16:24
      %td На рассмотрении
    %tr
      %td 1
      %td M1
      %td Опасения
      %td Пионер Мордоворотов
      %td 16.12.11 16:24
      %td На рассмотрении
    %tr
      %td 1
      %td M1
      %td Опасения
      %td Пионер Мордоворотов
      %td 16.12.11 16:24
      %td На рассмотрении
    %tr
      %td 1
      %td M1
      %td Опасения
      %td Пионер Мордоворотов
      %td 16.12.11 16:24
      %td На рассмотрении
    %tr
      %td 1
      %td M1
      %td Опасения
      %td Пионер Мордоворотов
      %td 16.12.11 16:24
      %td На рассмотрении
    %tr
      %td 1
      %td M1
      %td Опасения
      %td Пионер Мордоворотов
      %td 16.12.11 16:24
      %td На рассмотрении
    %tr
      %td 1
      %td M1
      %td Опасения
      %td Пионер Мордоворотов
      %td 16.12.11 16:24
      %td На рассмотрении

%div.pagination
  %ul
    %li 
      %a{:href => "#"} «
    %li 
      %a{:href => "#"} 1
    %li  
      %a{:href => "#"} 2
    %li.active  
      %a{:href => "#"} 3
    %li  
      %a{:href => "#"} 4
    %li  
      %a{:href => "#"} 5
    %li  
      %a{:href => "#"} »
  / %div{:class => "span2 search"}
  /   %h3 Поиск
  /   %input{:class => "span2", :type => "text", :placeholder => ".span2"}
  /       