= page_header do |header|

  - header.headline = "Пользователи"
  - header.back_path = users_path

  - header.add_action "Создать", new_user_path, :icon => "star-empty"


  - header.add_crumb "все", "all", :icon => "user"
  - header.add_crumb "активные", "active", :icon => "user"
  - header.add_crumb "заблокированные", "block", :icon => "user"
