%div{:class => "content-header clearfix"}
  %div{:class => "row"}
    %div{:class => "span10"}
      %h3 Новый пользователь

%div.row
  %div.span8
    / = debug @user.user_roles
    = render :partial => 'form', :locals => {:user => @user}