%div{:class => "content-header clearfix"}
  %div{:class => "row"}
    %div{:class => "span10"}
      %h3 Пользователи
      %div{:class => "span2 pull-right"}
        %a.act.success{:href => "#{new_user_path}"}
          Создать
          %i.icon-star-empty.icon-large.pull-right


  %div{:class => "row"}
    %div{:class => "span10"}
      %ul{:class => "breadcrumb"}
        %li{:class => "active"}
          В работе
          %span.divider /
        %li
          %a{:href => "#"} На подписи
          %span.divider /
        %li
          %a{:href => "#"} Принятые
          %span.divider /
        %li
          %a{:href => "#"} Отклоненные

= index_table_for @users do |table|
  - table.add_column :name => :id, :header => "#", :method => :id
  - table.add_column :name => :email, :header => "email", :method => :email

  - table.add_control :type => :info, :icon => "arrow-right", :action => :show, :path => lambda {|obj| user_path(obj)}
  - table.add_control :type => :info, :icon => "edit", :action => :edit, :path => lambda {|obj| edit_user_path(obj)}
  - table.add_control :type => :danger, :icon => "lock", :action => :delete, :path => lambda {|obj| user_path(obj)}