%div{:class => "content-header clearfix"}
  %div{:class => "row"}
    %div{:class => "span10"}
      %h3 Процессы
      %div{:class => "span2 pull-right"}
        %a.act.success{:href => "#{new_chainlet_path}"}
          Создать
          %i.icon-star-empty.icon-large.pull-right
