%div{:class => "content-header clearfix"}
  %div{:class => "row"}
    %div{:class => "span10"}
      %h3 Центр Финансовой Отвественности

%div.row
  %div.span8
    / = debug @user.user_roles
    = render :partial => 'form', :locals => {:cfo => @cfo}