= page_header do |header|

  - header.headline = "Центры Финансовой Ответвенности"
  - header.back_path = responsibility_centres_path
  
%div.row
  %div.span8
    / = debug @user.user_roles
    = render :partial => 'form', :locals => {:cfo => @cfo}